.full-team-grid td:first-child{font-size:.9rem;font-weight:850;white-space:nowrap}.full-team-grid td>img:first-child{width:30px!important;height:30px!important;margin-right:5px;vertical-align:middle}
